<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="MYSTIC_LOG" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="TRACE" />
		<param name="File" value="../logs/mystic-debug.log" />
		<!--param name="File" value="C:/sandbox/INTEGRAL.log"/ -->
		<param name="MaxFileSize" value="5000KB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{DATE} %p %m%n" />
			<!--PARAM NAME="CONVERSIONPATTERN" VALUE="%D{MM-DD-YYYY HH:MM:SS} %-5P 
				%C{1}: %M%N"/ -->
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>
	<root>
		<level value="info" />
		<appender-ref ref="MYSTIC_LOG" />
	</root>
</log4j:configuration>
